

<div class="container-fluid">
    <div class="container bg-dark-subtle">
<h3>Get Things Done Box</h3>
    <div class="row mt-4" style="height: 500px">
        <div class="col"></div>
        <div class="col-md-6 bg-white shadow">
<!-- // change this color after -->
            <div class="card bg-warning mt-4">
                <h4 class="text-white ps-3 pt-3 pb-2">What Needs To Get Done</h4>
            </div>

            <div class="shadow">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Add Task" name="task" >
                <!-- its suppose to be here but it wont work [(ngModel)]="addTaskValue"-->
                <button class="btn btn-outline-success" type="button"(click)="addTask()" >Button</button>
              </div>
            </div>
<!-- change this color -->
            <h5 class="text-primary mt-4"> Activities : </h5>

            <div style="overflow-y: auto; height: 350px;">
                <!-- its suppose to be here but it wont work *ngFor="let task of taskArr -->
                <div class="m-3" >
                    <div class="p-2 shadow border">
                            <div class="input-group row ps-3"></div> 
                            <!-- using ngFor to call the task and have print here -->
                            <div class="card col-md-10 border-0" {{ task.task_name }} ></div>
                            <!-- add animation to make it look fun -->
                            <button class="btn btn-outline-primary col me-2" data-bs-toggle="model" type="button" >edit</button>
                            <!--  deteleTask() is suppose to work here for click event  (click)="call() -->

                            <button class="btn btn-outline-danger col">delete</button>
                            <!--  deteleTask() is suppose to work here for click event  (click)="deleteTask() -->

                    </div>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Task</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Add Task" name="task">
                                            <!-- wont let me bind because its not apart of input?  [(ngModel)]="editTaskValue" -->
                                            <button class="btn btn-outline-success" type="button"(click)="editTask()" data-bs-dismiss="modal" >update</button>
                                          </div>
                                    </div>
                                   
                                </div>
                                </div>
                            </div>
                </div>
            
            </div>


        </div>
        <div class="col"></div>

        
    </div>
    </div>
</div>
